.huge-text
    span E
    span n
    span l
    span a
    span r
    span g
    span e
    span d
.huge-text
    span F
    span l
    span i
    span p
    span p
    span e
    span d
.huge-text
    span R
    span e
    span c
    span o
    span l
    span o
    span r
    span e
    span d
.huge-text
    span R
    span e
    span t
    span o
    span u
    span c
    span h
    span e
    span d