label#file-upload-label.drop-label.d-flex.flex-column.align-items-center.justify-content-around(for='file-upload-field')
    |Click or Drop Images Here (10mb Max)
    #progress-img
        svg.bi.start(width='40' height='40' fill='currentColor')
            use(xlink:href='/icons.svg#arrow-repeat')
        svg.bi.fin(width='40' height='40' fill='currentColor')
            use(xlink:href='/icons.svg#arrow-down-circle-fill')
        svg.bi.error(width='40' height='40' fill='currentColor')
            use(xlink:href='/icons.svg#exclamation-circle')
    input#file-upload-field(type='file' name='uploads[]' multiple='multiple' accept="image/*")

block append footer
    script(src="/javascripts/upload.js")