form{
    font-size:16px !important;
}
input[type="text"]{
    border-right:none;
    border-left:none;
    border-top:none;
}

#batch-order-form-wrap{
    position: relative;
    @include media-breakpoint-up(lg){
        transform:rotate3d(-10, -10, -5, -15deg);
    }
    &:after{
        position: absolute;
        z-index:-1;
        top:30px;
        left:-50px;
        width:110%;
        height:100%;
        border-radius:50%;
        content:"";
        background: $black;
        filter: blur(30px) opacity(.3);
    }
}

#batch-form{
    font-family: monospace;
    @include linear-gradient(-220deg, $yellow 0%, $yellow 70.01%, darken($yellow, 10%) 100%);
    padding:.5rem;
    *{
        cursor: pointer;
    }
    .form-group{
        margin-bottom: .5rem;
        padding:.5rem;
        display:block;
        background: $white;
    }
    span.form-text{
        font-size:.5rem;
        line-height: 1.1em;
        font-family: sans-serif;
        letter-spacing: .2px;
    }
    label{
        display: inline-flex;
        align-items: center;
        justify-content: start;
        line-height: 0;
        &.section-label{
            background: $yellow;
            font-family: 'Teko', sans-serif;
            font-weight:500;
            font-size:.8rem;
            display:block;
            box-shadow:-2px 2px 0px $red;
            padding:3px 0 3px 5px;
        }
    }
    .custom-control{
        padding-left:1.5rem;
        margin-right:.5rem;
        input[type="radio"], input[type="checkbox"]{
            width:1px !important;
            height:1px !important;
        }
        .custom-control-inline{
            margin-right:.3rem !important;
        }
    }
    input[type="range"]{
        border:none;
        padding:1rem 0;
    }
    .range-values{
        display:flex;
        align-items:start;
        justify-content: space-between;
        width:100%;
        .range-value{
            align-content: center;
            justify-content: center;
            &.min{
                align-content: start; 
            }
            &.max{
                align-content: end;
            }
        }
    }
    select[multiple]{
        border:none;
        min-height:160px;
        -moz-appearance: menulist;
        -webkit-appearance: menulist;
        appearance: menulist;
        // Additional resets for further consistency
        background-color: transparent;
        color:$red;
        &:focus option:checked, &:not(:focus) option:checked {
            background: $red linear-gradient(0deg, $red 0%, $red 100%);
        }
        option{
            white-space: normal;
            padding:.2rem;
            display:flex;
            align-items:center;
            &:checked{
                background-color:$red !important;
                color:$white;
            }
            img.option-preview{
                max-width:40px;
                height:auto;
                margin-right:.4rem;
            }
        }
    }
}

.btn{
    background-color: $red;
    color:$white;
    border:0;
    padding:.4rem;
    transition: background-color 0.3s ease-out;
    font-size:16px !important;
    &:hover,&:focus{
        background-color:$red-dark;
        color:$white;
        text-decoration: none;
    }
    &.btn-block{
        display:block;
        width:100%;
    }
    &:disabled{
        opacity: 0.7;
    }
}


input:valid{
    border-color:$black;
    color:$black;
    outline:none !important;
    box-shadow:none !important;
}

input:invalid,select[multiple]:invalid{
    border-color:$red;
    color:$red;
    outline:none !important;
    box-shadow:none !important;
}

.envelope-edge{
    background-image: repeating-linear-gradient(180deg, transparent 0%, $yellow 100%), repeating-linear-gradient(90deg, $yellow-light, $yellow 1%, $yellow-light 3%);
    display:block;
    width:100%;
    height:1.5rem;
    border-bottom:2px solid lighten($yellow, 10%);
    &.bottom{
        border-top:2px solid darken($yellow, 10%);
        background-image: repeating-linear-gradient(0deg, transparent 0%, $yellow 100%), repeating-linear-gradient(90deg, $yellow-light, $yellow 1%, $yellow-light 3%);
    }
}

span.thanks-text{
    font-family: "Yesteryear", cursive;
    color:$red;
    animation: slide-up 0.5s ease-out 0s 1 forwards;
    animation-fill-mode: forwards;
    transform: translate(0,40px);
    opacity: 0;
}

@keyframes slide-up{
    to{
        transform: translate(0,0);
        opacity: 1;
    }
}
@keyframes rotate{
    to{
        transform:rotate(359deg);
    }
}

#progress-img{
    svg{
        display:none;
        &.start{
            transform:rotate(0deg);
            animation: rotate 3s linear 0s infinite forwards;
        }
    }
    &.started{
        svg.start{
            display:block;
        }
    }
    &.fin{
        svg.start{
            display:none;
        }
        svg.fin{
            display:block;
        }
    }
    &.error{
        svg.error{
            display:block;
        }
    }
}