h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    line-height: .9em !important;
}

p, ul, li{
    font-family: 'Courier New', Courier, monospace;
    font-size:.6rem;
    line-height:1.2em;
    font-weight:600;
}

.font-teko{
    font-family: "Teko", sans-serif !important;
}

.font-yesteryear{
    font-family: "Yesteryear", cursive !important;
}

.f-300{
    font-weight:300;
}

.f-400{
    font-weight:400;
}

.f-500{
    font-weight:500;
}

.f-600{
    font-weight:600;
}

.f-700{
    font-weight:700;
}

form{
    font-size:22px !important;
}

label{
    display:inline-flex;
    align-items: flex-start;
    word-break: break-all;
    line-height:1em;
    svg{
        margin-right:.4rem;
    }
}

.text-red{
    color:$red !important;
}

.text-yellow{
    color:$yellow !important;
}

.text-shadow{
    text-shadow: -.04em .04em 1px $black;
    &.text-shadow-lg{
        text-shadow: -.1em .1em 1px $black;
    }
}