.drop-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    color:$red;
    width:100%;
    height:200px;
    background:#000;
    border:3px dashed $red;
    padding: 20px;
    text-align:center;
    position: relative;
    transition: all 0.3s ease-out;
    margin:0 auto 30px;
    z-index:10;
    &.highlight, &:hover {
        color:$yellow;
        border-color: $yellow;
    }
    input{
        cursor: pointer;
        display:block;
    }
  }
#file-upload-field {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:0;
}