extends layout

block append head
//- styles here
block content
	//- header
	header#go-le-m-header
		.container.px-3.py-5
			.row.justify-content-end.align-items-end
				.header-text-block.text-right.col-12.col-md-8
					h1
						|Enjoy your
						br
						|snapshots even more...
				.huge-animated-text.col-12.text-right
					include partials/header-texts.pug
				.header-image-examples.col-12.col-lg-10
					figure.header-image-example#header-image-before
						img(src="whatever")
					figure.header-image-example#header-image-after
						img(src="whatever")
	section#intro-upload-section
		.container.px-3.py-5
			.row
				#intro.col-12.col-lg-6.mb-5.mb-md-0
					h2.h1
						|transform your photos with
						figure.text-logo.fill-red
							include partials/logo-text-svg.html
					p
						|go Le'M uses the power of the golem network and decentralized computing to rapidly transform images. With it, you can –
					ul
						li rotate, flip, and resize
						li color correct your images
						li rename images
						li add color filters like sepiatone or greyscale
					p either individually, all at once, or in spearate batches. go Le'M will then send back an archive with all your new images. 
				#uploadForm.col-12.col-lg-6
					include partials/upload-form.pug
block append footer
