doctype html
html
  head
    block head
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title
        |Go Le&apos;M Photo Processing on the golem network
      link(rel="preconnect" href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Teko:wght@500;600;700&family=Yesteryear&display=swap" rel="stylesheet")
      link(rel='stylesheet' href='/css/style.css' type="text/css")
  body
    block content
    block footer
      script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
