html{
    overflow-x:hidden;
    font-size: 22px;
    line-height:1.2em;
    @include media-breakpoint-up(sm) { font-size: calc(22px + 6 * ((100vw - 320px) / 680)); }
    @include media-breakpoint-up(lg) { font-size: 28px; }
}
body{
    background-color:$white;
    @include media-breakpoint-up(lg){
        background-image: url("../images/golaroid-bl.gif"), url("../images/golaroid-rd.gif"), url("../images/golaroid-yl.gif");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 120% 105%, 105% 110%, 90% 115%;
    }
    color:$black;
}