$numTexts: 4;
$duration: 2; //seconds per text

@mixin hugeTextWrappers{
    @for $i from 1 through $numTexts{
        &:nth-of-type(#{$i}){
            animation-delay: calc(#{$i - 1} * 2s) !important;
            animation-duration: calc(#{$numTexts * $duration} * 1s) !important;
        }
    }
}

@keyframes huge-text-wrapper {
    0% {
        opacity: 0;
        transform: translate(0,-150px); 
    }
    3%, 25% {
        opacity: 1;
        transform: translate(0,0);
    }
    26%, 50%, 100% {
        opacity: 0;
        transform: translate(0,-150px); 
    }
}

.huge-animated-text{
    position: relative;
    height:12vmax;
    .huge-text{
        position: absolute;
        top:0;
        right:0;
        animation-name: huge-text-wrapper;
        animation-timing-function: cubic-bezier(0,1,.66,1.5); 
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        opacity:0;
        transform: translate(0,-150px);
        @include hugeTextWrappers;
        // span{
        //     opacity: 0;
        //     transform: translate(0,-50px);
        //     animation-name: huge-text;
        //     animation-timing-function: cubic-bezier(.7,-0.26,.23,1.41); 
        //     animation-iteration-count: infinite;
        //     animation-fill-mode: forwards;
        //     @include hugeTexts;
        // }
    }
}