$numTexts: 4;
$duration: 4; //seconds per text
$numChars: 32;
$charDuration: .5;
$percent: 100% / $numChars;

@mixin hugeTextWrappers{
    @for $i from 1 through $numTexts{
        &:nth-of-type(#{$i}){
            animation-delay: calc(#{$i - 1} * 4s) !important;
            animation-duration: calc(#{$numTexts * $duration} * 1s) !important;
        }
    }
}

// @mixin hugeTexts{
//     @for $i from 1 through $numChars{
//         $delay: calc( 1 * #{$charDuration});
//         &:nth-of-type(#{$i}){
//             animation-delay: calc(#{($i - 1) * ($n - 1)} * .5s) !important;
//             animation-duration: calc(#{$numChars * $duration} * 1s) !important;
//         }
//     }
// }

@keyframes huge-text-wrapper{
    0%, 25%{
      opacity: 1;   
    }
    26%, 100%{
        opacity: 0; 
    }
}

@keyframes huge-text{
    0%, #{$percent}{
      opacity:1;
      transform: translate(0,0);   
    }
    #{$percent + 1}, 100%{
        opacity: 0;
        transform: translate(0,-50px);
    }
}

.huge-animated-text{
    position: relative;
    height:12vmax;
    .huge-text{
        position: absolute;
        top:0;
        right:0;
        animation-name: huge-text-wrapper;
        animation-timing-function: linear; 
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        opacity:0;
        @include hugeTextWrappers;
        // span{
        //     opacity: 0;
        //     transform: translate(0,-50px);
        //     animation-name: huge-text;
        //     animation-timing-function: cubic-bezier(.7,-0.26,.23,1.41); 
        //     animation-iteration-count: infinite;
        //     animation-fill-mode: forwards;
        //     @include hugeTexts;
        // }
    }
}