#intro{
    figure.text-logo{
        position: relative;
        z-index:-1;
        margin:-4.5rem auto 0rem 0rem !important;
        display:inline-block;
        max-width:250px;
        svg{
            filter: contrast(.9);
            path,rect,circle{
                fill: $red;
            }
        } 
    }
}

#batch-intro{
    color:$white !important;
    position: relative;
    padding:1.5rem;
    @include media-breakpoint-up(lg){
        z-index:100;
    }
    &:after{
        content:"";
        display:block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background:$red;
        border-radius: 40%;
        filter:blur(1rem);
        width:130%;
        height:130%;
        z-index:-1;
    }
}